<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BookStore Marandy</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/book-table" >Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/editorial-table" >Editoriales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" >Usuarios</a>
          </li>
        </ul>
        <form class="d-flex" role="search" #searchForm="ngForm">
          <input
            class="form-control me-2"
            type="search"
            name="filter"
            placeholder="Buscar Libro"
            aria-label="Search"
          />
          <button class="btn btn-outline-success btn-light" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
